[user]
	name = ASzot
	email = ASzot@users.noreply.github.com
[push]
  default = simple
[alias]
	aa = add -A
	po = push
	fo = fetch origin master
	rh = reset --hard origin/master
  ca = "!f(){ git add -A && git commit -m \"$1\" && git push; };f"
  p = pull
[core]
	mergeoptions = --no-edit
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
