[user]
	name = ASzot
	email = me@andrewszot.com
[alias]
	aa = add -A
	po = push origin master
	fo = fetch origin master
	rh = reset --hard origin/master
  ca = "!f(){ git add -A && git commit -m \"$1\" && git push origin master; };f"
