snippet today "Date"
`date +%F`
endsnippet

snippet mk "Math" wA
$${1}$`!p
if t[2] and t[2][0] not in [',', '.', '?', '-', ' ']:
    snip.rv = ' '
else:
    snip.rv = ''
`$2
endsnippet


snippet dm "Math" wA
\[
$1
.\] $0
endsnippet

snippet bf "Boldface" wA
\textbf{${0}}
endsnippet
