
snippet bf "bold" wA
*$1*$0
endsnippet

snippet ql "bold" wA
[$2]($1)$0
endsnippet

snippet qk "bold" wA
\`$1\`$0
endsnippet

snippet qm "quote" wA
"$1"$0
endsnippet

snippet qq "bold" wA
\`\`\`
$1
\`\`\`
$0
endsnippet

snippet qh "bold" wA
# $1
$0
endsnippet

snippet now "Date"
`date +%Y-%m-%d_%H:%M` ${0}
endsnippet
