snippet nc "New Class"
class $1:
    def __init__(self):
        $0
endsnippet


snippet nf "New func"
def $1($2):
    $3
endsnippet

snippet definit "def init"
def __init__(self, *args, **kwargs):
    super().__init__(*args, **kwargs)
$0
endsnippet
